.btn-green{
    background:#2E6E65;
    border: 2px solid #2E6E65;
    border-radius: 15px;
    font-family: "Roboto Slab", serif;
    color: white;
    padding: 7px;
    font-size: 20px;
    line-height: 29px;
    cursor: pointer;
    transition: all 400ms ease;
}

.btn-green:hover{
    background: white;
    border: 2px solid#2E6E65 ;
    border-radius: 15px;
    color:#2E6E65;
    transition: all 400ms ease;
}

.btn-black{
    background:#2E2E2E;
    border: 2px solid #2E2E2E;
    border-radius: 15px;
    font-family: "Roboto Slab", serif;
    color: white;
    padding: 7px;
    font-size: 20px;
    line-height: 29px;
    cursor: pointer;
    transition: all 400ms ease;
}

.btn-black:hover{
    background: white;
    border: 2px solid#2E2E2E ;
    border-radius: 15px;
    color:#2E2E2E;
    transition: all 400ms ease;
}

.image-container-p {
    overflow: hidden;
    /* height: 300px; */
    width: 170px; 
}

.image-container-l {
    overflow: hidden;
    width: 100%; 
    height: 200px; 
}

.image-text{
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    height: 100px;
    padding: 10px;
    position: absolute;
    /* border-radius:0 0 5px 5px; */
    object-fit: cover;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(0, 0, 0));
}

.image {
    transition: transform 0.5s ease;
    /* width: 200px;
    height: 300px;  */
    /* border-radius: 5px; */
}

/* .image-container:hover  .image,  */
.image-container-p:hover .image, 
.image-container-l:hover .image {
    transform: scale(1.4);
    /* border-radius: 50%; */
    height: auto; 
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
} 

.overlay span {
    display: block;
}


.image:hover .overlay {
    opacity: 1;
}

.rotate{
    transition: all 400ms ease;
}

.rotate:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: all 400ms ease;
}

.h-expand{
    transition: all 400ms ease;
}

.h-expand:hover{
    padding-left: 5%;
    padding-right: 5%;
    transition: all 400ms ease;
}

.sosmed-icon {
    background-color: black;
    padding: 20px;
    color: white;
    border-radius: 5px;
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    width: 40px; 
    height: 40px;
    border: 2px solid black;
    transition: all 400ms ease;
}

.sosmed-icon:hover{
    background: white;
    border: 2px solid black;
    color: black;
    transition: all 400ms ease;
}

.bg-detail{
    padding: 10px;
/* From https://css.glass */
background: rgba(244, 249, 244, 0.48);
border-radius: 16px;
/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
backdrop-filter: blur(9.6px);
-webkit-backdrop-filter: blur(9.6px);
}

.rotate-detail {
    transition: transform 0.4s ease;
}
